@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom'; 

html{
  position: relative;
  min-height: 100%;
}
main{ 
  margin-bottom: 300px; /* Hauteur du footer */
  
}
.footer.footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hero-scene{

   position :relative;
   margin-bottom: 15px;
   &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/FondHeroScene.jpg);
    background-size: cover;
    background-position: center bottom;
    filter: brightness(0.6);
}
*{
    //Positionner les élémens avant le ::before
    position: relative;
    z-index: 1;
}
    .hero-scene-content{
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0px;
    }

}
.text-justify{
    text-align: justify;
}
.image-paysage {
  /* Définit un ratio d'aspect paysage (16:9 est classique) */
  aspect-ratio: 16 / 9; 
  
  /* REMPLIT le cadre sans déformer (recadre) */
  object-fit: cover; 
  
  /* Optionnel : centre le "cœur" de la photo, le steak */
  object-position: center; 
}

.image-card {
  position:relative;
  &:hover{
      .titre-image {
          opacity: 1;
      }
      img {
          filter: brightness(0.3);
      }
  }
  img{
      transition: all 0.3s ease;

  }
  .titre-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.3s ease;

  }
}

.form-label{
     color: $primary;
}