@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom'; 

html{
  position: relative;
  min-height: 100%;
}
main {
    margin-bottom: 250px; /* Hauteur du footer */
}
.footer.footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}